*{
  margin: 0;
  padding: 0;
}

body{
	font-family: "Pakonsy_Font", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 12px;
}

article{
  min-height: calc(100vh - ((1.25rem * 2) + 20px))
}

h1 {
	font-size: 40px;
	letter-spacing: 0.5px;
	line-height: 1;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

ul {
  list-style-type: none;
}

a  {
  color: rgb(0,0,0);
  text-decoration: none;
}

img{
  height: auto;
  display: block;
}

picture img, video {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
