version: "3.9"
services:
  client: 
    build: client/.
    ports:
      - "3000:3000"
  database: 
    build: database/.
    ports:
      - "4000:4000"
    env_file: database/.env
    depends_on: 
      - db
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: speech_recognition
    ports:
      - "5432:5432" 
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./database/postgresql/init.sql:/docker-entrypoint-initdb.d/init.sql
  python: 
    build: python/.
    ports:
      - "4010:4010"
      
volumes: 
  db-data:
  